/* Color variables */

:root {
  --red: #d62828;
  --blue: #003049;
  --cream: #fdf0d5;
}

/* General styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: var(--cream);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 300px;
}


/* Header and Navigation */

.header {
  background-color: var(--blue);
  color: var(--cream);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100vw;
  padding: 0 1rem 0 1rem;
  border-bottom: 5px solid var(--red);
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav__item {
  margin: 1.5rem 0 1.5rem 0;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
  padding: 1rem;
}

.nav__link--hover:hover {
  background-color: rgba(234, 226, 183, 0.5);
}

/* Main part */

/* Welcome section */

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cream);
  height: 100vh;
}

.welcome__picture-container {
  height: 250px;
  width: 250px;
  overflow: hidden;
  background-color: #d62828;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 50%;
  margin-bottom: 2rem;
  border: 5px solid var(--blue);
  box-shadow: 0 0 20px 1px var(--blue);
}

.picture-container__profile-picture {
  height: 300px;
  width: 250px;
}

.welcome__headline {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: var(--blue);
  padding: 0;
  margin: 0;
}

.welcome__text {
  padding: 0;
  margin: 0;
  color: var(--red);
  font-style: italic;
  font-size: 1.5rem;
}

/* Projects section */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  height: 100vh;
}

.projects__headline {
  color: var(--cream);
  font-size: 2.5rem;
  margin-top: 7rem;
  margin-bottom: 5rem;
  border-bottom: 3px solid var(--cream);
  padding: 0 1rem;
}

.projects__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}

.projects__tile {
  height: 400px;
  width: 400px;
  border-radius: 30px;
  overflow: hidden;
  transition: all 0.3s;
  background-color: var(--cream);
}

.tile__link {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
  font-size: 1.2rem;
}

.tile__img {
  width: 400px;
  height: 330px;
  border-bottom: 3px solid var(--blue);
}

.tile__text {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.text__icon {
  opacity: 0;
  font-size: 1.5rem;
  color: var(--red);
  transition: all 0.3s;
}

.tile__link--hover:hover span {
  opacity: 1;
}

.projects__button {
  text-decoration: none;
  color: var(--blue);
  padding: 1rem 2.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background-color: var(--cream);
}

.button__icon {
  display: inline-block;
  font-size: 1.3rem;
  transition: all 0.3s;
}

.projects__button--hover:hover {
  background-color: var(--red);
}

.projects__button--hover:hover span {
  transform: translateX(3px);
}

/* Contact section */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 96px);
  background-color: var(--cream);
}

.contact__slogan {
  margin-bottom: 1rem;
}

.slogan__headline {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: var(--blue);
}

.slogan__text {
  margin: 0;
  padding: 0.5rem;
  color: var(--blue);
  font-style: italic;
  text-align: center;
}

.social-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 0rem 1rem;
  padding: 0;
}

.social-nav__item {
  list-style: none;
  transition: all 0.3s;
}

.social-nav__link {
  text-decoration: none;
  color: var(--blue);
  font-weight: bold;
  font-size: 1.5rem;
}

.social-nav__item--hover:hover {
  transform: translateY(10px);
}

/* Footer */

.footer {
  background-color: var(--blue);
  color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 6rem;
  border-top: 5px solid var(--red);
}

.footer__text {
  margin: 0;
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

.footer__text--icon::after {
  content: '🤙🏼';
  margin-left: 0.5rem;
}

.footer__link--icon::before {
  content: '©';
}

/* Button back to top */

.btn-up {
  display: block;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
  color: var(--red);
  font-weight: bold;
  font-size: 1.2rem;
  height: 50px;
  width: 50px;
  border: 3px solid var(--red);
  border-radius: 50%;
  background-color: var(--blue);
  position: fixed;
  left: 10px;
  bottom: 20px;
  opacity: 0.6;
}

/* Media Query width smaller than 1200px */

@media screen and (max-width: 1300px) {
  .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

/* Ende media */

/* Media Query width smaller than 980px */

@media screen and (max-width: 980px) {
  .header {
    justify-content: center;
  }

  .projects {
    height: auto;
  }

  .projects__headline {
    margin-top: 6rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .projects__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .social-nav__list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 980px) {
  .projects__tile--hover:hover {
    transform: scale(1.1);
  }
}

/* Ende media */

/* Media Query width smaller than 600px */

@media screen and (max-width: 600px) {
  .btn-up {
    visibility: hidden;
  }
}

/* Media Query width smaller than 450px */

@media screen and (max-width: 450px) {

  .welcome {
    margin-top: 4rem;
  }

  .projects__headline {
    margin: 5rem 0 3rem 0;
  }

  .projects__tile {
    height: 400px;
    width: 350px;
  }

  .footer__text--icon::after {
    visibility: hidden;
  }
}

/* Ende media */